aside {
  grid-area: aside;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "aside  content" "footer footer";
  min-height: 100vh;
  margin: 0;
  border: 0;
}
nav.perfil img {
  width: 100px;
  /* margin-top: -50px; */
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  transition: .8s;
}

nav.perfil img:hover {
  border-radius: 5%;
}

nav.perfil {
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid white;
}

main .example {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

main .example > div {
  border: 4px solid #ffffff;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: ease-in-out .3s;
  border-radius: 10px;
}

aside > div {
  position: sticky;
  top: 0;
}

main .example > div:hover {
  transform: scale(1.5);
  z-index: 99;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0;
}

main .example > div:first-child {
   grid-area: span 2 / span 2;
}

main .example > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas: "header" "aside" "content" "footer";
  }
}